<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Api Livecoding</title>
        <link rel="stylesheet" href="./styles/style.css">
    </head>
    <body>
        <!-- Vue 3 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

        <script src="https://unpkg.com/vue@3"></script>

        <div id="app">

            <h1 v-if="userNumber">
                User randomly generated number is: {{ userNumber }}
            </h1>

            <h1 v-if="pcNumber">
                PC randomly generated number is: {{ pcNumber }}
            </h1>

            <h1 v-if="pcNumber && userNumber">
                The winner is...
                {{ userNumber > pcNumber ? 'il PC!' : ' l\'utente!!'  }}
            </h1>
        </div>

        <script src="js/script.js"></script>
    </body>
</html>